<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <file>tests/ClientTest.php</file>
        </testsuite>
        
        <testsuite name="Integration Tests">
            <file>tests/IntegrationTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </source>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
</phpunit>
